@font-face{
    font-family: Brandon Text Regular;
    src:url('font/HVD\ Fonts\ -\ BrandonText-Regular.otf')
}
* {
    font-size: 100%;
    font-family: Brandon Text Regular;
   }
body{
    padding: 0;
    margin-top: 2em;
    margin-left: 8em;
    margin-right: 8em;
    border-radius: 25px;
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('/static/image/Background.jpg');
   
}
.list{
    display: flex;
    margin-top: 2em;
    flex-direction: row;
    justify-content: space-around;

}
h1{
    float: top;
    text-align: center;
}
.news{
    display: grid;

}
.first{
    display: grid;
    grid-template-columns: 1fr minmax(auto, auto) 1fr;

}

.log{
    display: flex;
    column-gap: 4em;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3em;
    
}
.scroll{
    position: fixed; 
    top: 0;
    border-radius: inherit;
    height: 100vh;
    /* opacity: 0.5; */
    background: white;
    position: sticky;
    width: 100%;

}
a#main {
    margin-top: 2em;
}
a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}
