@font-face{
    font-family: Brandon Text Regular;
    src:url('font/HVD\ Fonts\ -\ BrandonText-Regular.otf')
}
* {
    font-size: 100%;
    font-family: Brandon Text Regular;
  }
body{
    padding: 0;
    margin-top: 2em;
    margin-left: 8em;
    margin-right: 8em;
    border-radius: 25px;
    background-image: url('/static/image/Community_background.jpg');
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.scroll{
    position: fixed; 
    top: 0;
    border-radius: inherit;
    height: 100vh;
    /* opacity: 0.5; */
    background: white;
    position: sticky;
    width: 100%;
    overflow: hidden;
}
.first{
    display: grid;
    grid-template-columns: 1fr minmax(auto, auto) 1fr;

}
.log{
    display: flex;
    column-gap: 4em;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3em;
    
}
ul.mylist{
    padding-left:0px;
}
ul.mylist .up{
    /* list-style: none; */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    justify-items: start;
    justify-content: space-between;
    padding: 20px 0px 0px 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #efefef;
    font-size: 15px;
}
ul.mylist{
    list-style: none;
}
/* 제일 위의 css */
.up{ 
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    justify-items: start;
    justify-content: space-between;
    padding: 10px 0px 0px 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #efefef;
    font-size: 19px;
}

a{
    text-decoration: none;
    color: black;
}
#plus{
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
    margin-right: 20px;
    font-size: 20px;
}


/*---------------------- post_detail -> css -------------------------*/

h1{
    font-size: 30px;
    font-weight: normal;
    margin-top: 0px;
    margin-left: 40px;
}
.scroll_v2{
    position: fixed; 
    top: 0;
    border-radius: inherit;
    /* opacity: 0.5; */
    background: white;
    position: sticky;
    width: 100%;
    overflow: hidden;
    height: auto;
}
.row{
    display: flex;

}
h5 {
    margin-right: 50px;
}
.row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
}
.contents{
    padding: 40px 40px 40px 40px;
    height: 200px;
    border-bottom: 1px solid #efefef;
}
.up-change{
    
    display: grid;
    justify-items: start;
    justify-content: space-between;
    padding: 10px 0px 0px 20px;
    margin-bottom: 10px;
    font-size: 19px;

}
#form{
    float: right;
    margin-right: 1em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
textarea{
    width: 300px;
}