<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='post_list.css') }}">
    <title>community</title>
</head>

<body>
    <div class="scroll_v2">
        <div class="first">
            <div></div>
            <a><img src="{{ url_for('static', filename='image/main_community.PNG') }}"></a>
            {% if g.user %}
            <div class="log">
                <a></a>
                <a href="{{ url_for('auth.logout') }}">
                    {{ g.user.username }} (로그아웃)
                </a>
            </div>
            {% else %}
            <div class="log">
                <a href="{{url_for('auth.signup') }}">
                    Signup
                </a>

                <a href="{{ url_for('auth.login') }}">
                    Login
                </a>
            </div>
            {% endif %}
        </div>

        <ul class="up">
            <li>No.</li>
            <li>Subject</li>
            <li></li>
            <li>Time</li>
            <li>Name</li>
        </ul>

        <ul type="hidden" class="mylist">
            {% if post_list %}
            {% for post in post_list %}
            <li>
                <ul class="up">
                    <li>{{ loop.revindex }}</li>
                    <li>
                        <a href="{{ url_for('main.detail', post_id=post.id)}}">{{ post.subject }}</a>
                        {% if post.comment_set|length > 0 %}
                        <span class="num">[{{ post.comment_set|length }}]</span>
                        {% endif %}
                    </li>
                    <li></li>
                    <li> {{ post.create_date | datetime }}</li>
                    <li> {{ post.user.username }}</li>
                </ul>
            </li>
            {% endfor %}
            {% else %}
            <li>
                <ul class="up">
                    <li></li>
                    <li>
                        <a href="post_datail.html">질문이 없습니다</a>
                    </li>
                    <li></li>
                    <li>egg</li>
                    <li></li>
                </ul>
            </li>
            {% endif %}
        </ul>
        <a id="plus" href="{{ url_for('main.create') }}" class="create">Post<img src="{{ url_for('static', filename='image/plus.png') }}"></a>
    </div>
</body>

</html>